services:
  meraki-mcp-servers:
    networks: ['demo']
  netbox-mcp-server:
    networks: ['demo']
  catc-mcp-server:
    networks: ['demo']
  ios-xe-mcp-server:
    networks: ['demo']
networks:
  demo:
    external: true
