services:
  meraki-mcp-servers:
    networks: ['mcp-server']
  netbox-mcp-server:
    networks: ['mcp-server']
  catc-mcp-server:
    networks: ['mcp-server']
  ios-xe-mcp-server:
    networks: ['mcp-server']
  thousandeyes-mcp-server:
    networks: ['mcp-server']
  ise-mcp-server:
    networks: ['mcp-server']
  splunk-mcp-server:
    networks: ['mcp-server']

networks:
  mcp-server:
    external: true
